
/*#logo{
    width: 450px !important;
    height: 300px !important;

}*/
#img1{
    background-repeat: no-repeat;
    background-size: 300px 100px;

}
.white{
    color: white !important;
}
body,li{
    font-family: "Arial";
    font-size: 60px !important;
}
